In [1]:
# Dependencies
import pandas as pd
import plotly.express as plt
import os
import statsmodels.api as sm

In [2]:
bikecounts_file = os.path.join('../','Resources', 'bikecounts.csv')
bikecounts_df = pd.read_csv(bikecounts_file)
bikecounts_df['Day'] = pd.to_datetime(bikecounts_df['Day'])
bikecounts_df.head()

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01,2016-04-01,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02,2016-04-02,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03,2016-04-03,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04,2016-04-04,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
4,4,2016-04-05,2016-04-05,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471

In [3]:
bikecounts_df.corr()

,Unnamed: 0,High Temp (°F),Low Temp (°F),Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
Unnamed: 0,1.000000,0.491275,0.388151,0.704283,0.633903,0.674665,0.651394,0.666458
High Temp (°F),0.491275,1.000000,0.823853,0.739377,0.720175,0.764336,0.727825,0.743344
Low Temp (°F),0.388151,0.823853,1.000000,0.464550,0.465097,0.534212,0.475725,0.492124
Brooklyn Bridge,0.704283,0.739377,0.464550,1.000000,0.983148,0.980463,0.976991,0.989339
Manhattan Bridge,0.633903,0.720175,0.465097,0.983148,1.000000,0.989805,0.985867,0.996323
Williamsburg Bridge,0.674665,0.764336,0.534212,0.980463,0.989805,1.000000,0.988852,0.996639
Queensboro Bridge,0.651394,0.727825,0.475725,0.976991,0.985867,0.988852,1.000000,0.993391
Total,0.666458,0.743344,0.492124,0.989339,0.996323,0.996639,0.993391,1.000000

In [4]:
# high correlation between high temp and brooklyn bridge
# come up with null and alternative hypothesis

# HYPOTHESIS: My hypothesis is that a higher temperature correlates with the amount of people that cross the brooklyn bridge per day 

# NULL HYPOTHESIS = High Temperature has NO correlation with the people who cross the brooklyn bridge

X = bikecounts_df[['High Temp (°F)']]
y = bikecounts_df['Brooklyn Bridge']
X = sm.add_constant(X)
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Brooklyn Bridge   R-squared:                       0.547
Model:                            OLS   Adj. R-squared:                  0.530
Method:                 Least Squares   F-statistic:                     33.77
Date:                Tue, 12 Oct 2021   Prob (F-statistic):           3.05e-06
Time:                        12:47:42   Log-Likelihood:                -237.29
No. Observations:                  30   AIC:                             478.6
Df Residuals:                      28   BIC:                             481.4
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const          -1660.4539    687.707     -2.414      0.023   -3069.159    -251.749
High Temp (°F)    64.8743     11.164      5.811      0.000      42.005      87.743
==============================================================================
Omnibus:                        2.390   Durbin-Watson:                   1.331
Prob(Omnibus):                  0.303   Jarque-Bera (JB):                2.100
Skew:                          -0.616   Prob(JB):                        0.350
Kurtosis:                       2.599   Cond. No.                         340.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# Because of our small p-value (< 5% ), we are able to reject the null hypothesis.
# this tells us that the relationship between people crossing the brooklyn bridge and high temperature is positive.